<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>go</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddProductMasterServlet</display-name>
    <servlet-name>AddProductMasterServlet</servlet-name>
    <servlet-class>com.capgemini.go.servlet.AddProductMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductMasterServlet</servlet-name>
    <url-pattern>/AddProductMasterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShelfTimeReportServlet</display-name>
    <servlet-name>ShelfTimeReportServlet</servlet-name>
    <servlet-class>com.capgemini.go.servlet.ShelfTimeReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShelfTimeReportServlet</servlet-name>
    <url-pattern>/ShelfTimeReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryTimeReportServlet</display-name>
    <servlet-name>DeliveryTimeReportServlet</servlet-name>
    <servlet-class>com.capgemini.go.servlet.DeliveryTimeReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryTimeReportServlet</servlet-name>
    <url-pattern>/DeliveryTimeReportServlet</url-pattern>
  <servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnOrderServlet</display-name>
    <servlet-name>ReturnOrderServlet</servlet-name>
    <servlet-class>com.capgemini.go.servlet.ReturnOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnOrderServlet</servlet-name>
    <url-pattern>/ReturnOrderServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ReturnProductServlet</display-name>
    <servlet-name>ReturnProductServlet</servlet-name>
    <servlet-class>com.capgemini.go.servlet.ReturnProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnProductServlet</servlet-name>
    <url-pattern>/ReturnProductServlet</url-pattern>
  </servlet-mapping>
</web-app>